<link rel="stylesheet" href="/css/user/home.css">
<section class="hero" style="background-image: url('<%= imgurl %>');">
  <div class="hero-content">
    <h1>Not Just A Watch, A Legacy</h1>
    <p>Discover our curated collection of luxury timepieces for the modern individual. A blend of classic design and
      state-of-the-art technology.</p>
    <a href="/shop" class="btn btn-primary">Shop Now</a>
  </div>
</section>

<section class="product-showcase">
  <div class="container">
    <div class="section-header">
      <h2>Featured Products</h2>
    </div>
    <div class="product-grid">
      <% if (FeaturedProducts && FeaturedProducts.length> 0) { %>
        <% FeaturedProducts.forEach(product=> { %>
          <div class="product-card">
            <div class="product-image">
              <a href="/product/<%= product._id %>">
                <img src="<%= product.variants[0].image_url[0] %>" alt="<%= product.altText %>">
              </a>
            </div>
            <div class="product-info">
              <h3>
                <%= product.name %>
              </h3>
              <p class="product-price">₹<%= `${product.variants[0].price}` %>
              </p>
            </div>
          </div>
          <% }) %>
            <% } else { %>
              <p>No featured products available at this time.</p>
              <% } %>
    </div>
  </div>
</section>


<section class="product-showcase">
  <div class="container">
    <div class="section-header">
      <h2>New Launches</h2>
    </div>
    <div class="product-grid">
      <% products.forEach(function(product) { %>
        <div class="product-card">
          <div class="product-image">
            <a href="/product/<%= product._id %>">
              <img src="<%= product.variants[0].image_url[0] %>" alt="<%= product.altText %>">
            </a>
          </div>
          <div class="product-info">
            <h3>
              <%= product.name %>
            </h3>
            <p class="product-price">
              <%=`₹${product.variants[0].price}` %>
            </p>
          </div>
        </div>
        <% }); %>
    </div>
  </div>
</section>

<section class="lifestyle-showcase">
  <div class="container">
    <div class="section-header">
      <h2>Hand Picked</h2>
      <p>Discover our bestsellers and timeless pieces, chosen for their quality, craftsmanship, and enduring appeal.</p>
    </div>
    <div class="lifestyle-grid">
      <% if (productslot1 && productslot1.length> 0) { %>
        <div class="lifestyle-image">
          <img src="<%= productslot1[0].image_url %>" alt="HandPicked1">
        </div>
        <% } %>
          <% if (productslot2 && productslot2.length> 0) { %>
            <div class="lifestyle-image">
              <img src="<%= productslot2[0].image_url %>" alt="HandPicked2">
            </div>
            <% } %>
              <% if (productslot3 && productslot3.length> 0) { %>
                <div class="lifestyle-image">
                  <img src="<%= productslot3[0].image_url %>" alt="HandPicked3">
                </div>
                <% } %>
    </div>
  </div>
</section>